section.movieList {
  display: flex;
  flex-direction: row;
  flex-flow: 1%;
  flex-basis: 15%;
  padding:10px;
  border: black;
}

img.temp {
  height: 405px;
  width: 405px;
  margin-left: 5px;
  margin-right: 5px;
}
h1.Title {
  margin-left: 15em;
  margin-right: 15em;
}
