/**
* @Date:   2017-03-10T15:05:05+00:00
* @Last modified time: 2017-03-10T15:11:38+00:00
*/



div.movieList {
<<<<<<< HEAD
  display: flex;
=======
  width: 100%;
  height: 320px;
  overflow:scroll;
  white-space: nowrap;
  display:flex;
>>>>>>> origin/master
  flex-direction: row;
  flex-flow: 1%;
  flex-basis: 15%;
  padding:10px;
  border: black;
}

<<<<<<< HEAD
div.movieInfo {
  padding:10px;
  border: black;
=======
main {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}
div.bottompage {
  width:100%;
}
h2.movieTitle {
  float:left;
}

div.castDiv {
  float: left;
  width:25%;
  margin-right: 5%;
  margin-left: 5%;
}
div.mediaDiv {
  width:25%;
  float:left;
  margin-right: 5%;
  margin-left: 5%;

}
div.reviewDiv {
  float:left;
  margin-right: 5%;
  margin-left: 5%;
}

input.search {
  margin-left: 37.4%;
  margin-right:15%;
  height: 50px;
  width: 350px;
>>>>>>> origin/master
}

img.temp {
  float: right;
  height: 305px;
  width: 305px;
  margin-left: 5px;
  margin-right: 5px;
}
h1.Title {
align-self: center;
}
<<<<<<< HEAD
=======

@media screen and (max-width: 900px) {

  input.search {
    margin-left:12%;
    margin-right:5%;
  }
  div.castDiv {
    width:25%;
    margin-right: 0%;
    margin-left: 0%;
    float:none;
  }
  div.mediaDiv {
    width:25%;
    margin-right: 0%;
    margin-left: 0%;
    float:none;

  }
  div.reviewDiv {
    margin-right: 0%;
    margin-left: 0%;
    float:none;
  }

  }
  @media screen and (max-width: 1280px) {
  p.movieTxt {
    margin-right: 3%;
    margin-left: 3%;
    width:100%;
    word-wrap: normal;
    float:left;

  }
}
>>>>>>> origin/master
