@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


body {
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    text-align: center;
    background-image: url("Media/background.jpg");
  }


div.movieList {
  display:flex;
  flex-direction:row;
  flex-grow: 2;
  flex-wrap: wrap;
  width: 100%;
}

main {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

castDiv{
  float: left;
}
mediaDiv{

}
reviewDiv{
  float: right;
}

input.search {
  margin-left: 40%;
  margin-right:15%;
  height: 50px;
  width: 350px;
}

div.mainMovie {
  display:flex;
  flex-direction:row;
}

img.movieimg {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;

}

img.mainMovieImg {
  width:300px;
  height:300px;
  margin:auto;
  float:left;
}

p.movieTxt {
  margin-right: 15%;
  margin-left: 3%;
  width:100%;
  word-wrap: normal;
  float:left;

}

div.bottompage {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}

div.movieReviews {
  float:right;

}

@media screen and (max-width: 768px) {
  div.movieList {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }

  input.search {
    margin-left:12%;
    margin-right:5%;
  }

  }
